.header{
    background-color:rgb(243, 240, 240);
    width: 100%;
    height: 20px;
}
.text{
    color: rgb(113, 114, 116);
    font-size:xx-small;
    margin-left: 800px;
}
.navbar{
    margin-left:600px ;
    float: right;
    text-align: center;
    font-size: smaller;
    color:  solid rgb(8, 0, 0);
    position: relative;
    bottom: 50px;
    right: 150px;
    background-color:white;
}
.navbar a:hover{
    color: red;
}
.navbar a:active{
    background-color: red;
    color: white;
    padding: 5px 5px;
    display: inline;
}
div a{
    color:rgb(146, 143, 143);
}
div p{
    text-align: center;
}
